@model List<EditStudentGradesViewModel>
@{
    ViewBag.Title = "Edit Student Grades";
    var StudentId = ViewBag.StudentId;
}

<div class="container">
    <h2 id="headerText" class="mt-4">Edit Student Grades:</h2>
    <hr />
    <form method="post" asp-action="EditStudentGrades">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-active table-striped">
                    <thead class="text-center">
                        <tr class="table-info">
                            <th>Course Id</th>
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Course Hours</th>
                            <th>Listed Grade</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr onclick="window.location='/Students/EditStudentGrades/@StudentId">
                                <td>@Html.DisplayFor(m => m[i].CourseId)</td>
                                    @Html.HiddenFor(m=>m[i].CourseId)
                                <td>@Html.DisplayFor(m => m[i].CourseName)</td>
                                <td>@Html.DisplayFor(m => m[i].CourseCode)</td>
                                <td>@Html.DisplayFor(m => m[i].CourseHours)</td>
                                <td><input type="text" asp-for="@Model[i].CourseGPA" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <input type="submit" asp-action="EditStudentGrades" asp-controller="Students" asp-route-StudentId="@StudentId" value="Save" class="btn btn-primary" />
        <a asp-action="EditCourses" asp-controller="Students" asp-route-id="@StudentId" class="btn btn-warning">Back</a>
    </form>
</div>

