@model List<EditStudentCoursesViewModel>
@{
    ViewBag.Title = "Edit Student Courses";
    var StudentId = ViewBag.StudentId;
}
<div class="container">
    <form asp-action="EditCourses" method="post">
        <h2 id="headerText" class="mt-3">Edit Student Courses:</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-active table-striped">
                    <thead class="text-center">
                        <tr class="table-info">
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Course Hours</th>
                            <th>Listed Courses</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => m[i].CourseName)</td>
                                <td>@Html.DisplayFor(m => m[i].CourseCode)</td>
                                <td>@Html.DisplayFor(m => m[i].CourseHours)</td>
                                <td>@Html.CheckBoxFor(m => m[i].IsSelected)</td>
                                    @Html.HiddenFor(m => m[i].CourseId)
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" asp-action="EditCourses" asp-controller="Students" asp-route-StudentId="@StudentId" value="Save" class="btn btn-primary" />
        <a asp-action="EditStudentGrades" asp-controller="Students" asp-route-id="@StudentId" class="btn btn-success">Edit Grades</a>
    </form>
</div>