@model IEnumerable<Student>
@{
    ViewBag.Title = "Home Page";
}

@if (Model.Any())
{
    <div class="card-deck">
        @foreach (var student in Model)
        {
            var photoPath = "~/images/" + (student.PhotoPath ?? "NoImage.jpg");

            <div class="col-sm-3">
                <div class="card m-2 ">
                    <div class="card-header">
                        <h3>@student.Fname @student.Lname</h3>
                    </div>
                    <img class="card-img-top imageThumnail" src="@photoPath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-action="Details" asp-controller="Students" asp-route-id="@student.StudentId" class="btn btn-primary m-1">View</a> @*//Tag helpers*@
                        <a asp-action="Edit" asp-controller="Students" asp-route-id="@student.StudentId" class="btn btn-primary m-1 ">Edit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">
                            Delete
                        </button>
                        <form asp-action="Delete" asp-controller="Students" asp-route-id="@student.StudentId" method="post">
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are You sure you want to delete Student with Id =@student.StudentId
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form asp-action="Delete" asp-controller="Students" asp-route-id="@student.StudentId" method="post">
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}





